<footer>
  <div class="container">
    <div class="card text-white bg-footer">
      <div class="card-body footer">
        <p class="logo_container card-text">
          <div class="row">
            <div class="col-md-4">
              <a href="https://unl.edu" alt="University of Nebraska-Lincoln">
                <%= image_tag "NUNL.png", alt: "UNL Logo" %>
              </a>
            </div>
            <div class="col-md-8">
              Support provided by <a href="https://cdrh.unl.edu/">Center for Digital Research in the Humanities</a>, <a href="https://libraries.unl.edu/archives-special-collections">Archives & Special Collections</a>, the <a href="https://www.unl.edu/band/welcome">University Bands</a>, and the <a href="https://www.unl.edu/">University of Nebraska-Lincoln</a>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</footer>
