<%# TODO only thing overridden was to add navbar-brand, but if that not needed erase this partial %>

<div class="container site-title-container">
  <%= link_to home_path do %>
    <div class="h1">
      <% if I18n.exists?("general.project_name", locale) %>
        <span class="site-title navbar-brand"><%= t "general.project_name" %></span>
      <% end %>
      <% if I18n.exists?("general.project_subtitle", locale) %>
        <small class="site-subtitle"><%= t "general.project_subtitle" %></small>
      <% end %>
    </div>
  <% end %>
</div>
