<h1>Newspapers</h1>

<p>TODO write an introduction to the newspapers here to explain the student newspaper history, etc, then include links to some common papers, and any relevant essays, etc.</p>

<p><%= link_to "Search", newspapers_search_path %></p>
