<h1>Newspapers</h1>

<p class="lead">Student newspapers <em>The Hesperian Student</em> (1871-1890), <em>The Hesperian</em> (1890-1901), and the <em>Daily Nebraskan</em> (1901-present) provided coverage of campus activities through the lens of student reporters and editors. In addition to reporting on activities involving the band, such as rallies, drills, parades, and performances, they covered cadet and band leadership, membership, and related organizations. The newspapers also provide information about the band’s equipment, uniforms, and facilities as well as the fundraising to support its needs. Editorials present varied perceptions of the band, and advertisements reveal the range and popularity of the band’s events.</p>

<div class="filters">
  <div class="filters-topic">
    <div class="filter-buttons">

      <% nav_items = {
        "The Hesperian Student" => "1871-1890",
        "The Hesperian" => "1890-1901",
        "The Daily Nebraskan" => "1901-2001*"
      } %>

      <% nav_items.each do |item, date| %>
        <%= link_to "#{item} (#{date})", newspapers_search_path({ f: ["publisher|#{item}"] }), class: "btn btn-filter btn-warning" %>
      <% end %>

    </div>
  </div>
</div>

<p>* Note: the Daily Nebraskan's entire date range is not yet available on <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/" rel="noreferrer" target="_blank">Nebraska Newspapers</a>.</p>

<p><%= link_to "Search", newspapers_search_path %></p>
