<% @title = "Project History" %>

<h1>Project History</h1>

<%= render "about_nav" %>

<h2>Planting the Seed</h2>

<p>The first inklings of this project began in 2009, as part of a Digital History course which produced the Omeka site "<a href="http://unlhistory.unl.edu/exhibits/show/nebraskaband" rel="noreferrer" target="_blank">The Pride of All Nebraska</a>," exploring the military foundation of the early band. Jessica Dussault, then an undergraduate student, gained an appreciation for the staggering amounts of information available in the University Archives and Special Collections while working on the project. She also gained an appreciation for how much time it takes to go through pages and pages of newspapers on microfilm looking for information about specific events! Unfortunately, many of the Archives materials remained a mystery, as reel-to-reel film in the band collection was too delicate to be played for an undergraduate's project, and the vast scope of information available in the Archives was not unexplorable in a semester's time.</p>

<h2>Digitizing Films</h2>

<p>In 2016, Jessica, by then a programmer in the Center for Digital Research in the Humanities, joined forces with her colleague Sara Bailey Roberts to digitize the reel-to-reel footage in the band collection. With the financial support of Katherine Walter, Chair of Digital Initiatives & Special Collections in the UNL Libraries, Jessica and Sara selected three reels to digitize as a proof-of-concept. The team, which at that time included Blake Graham and Josh Caster, were delighted to find that the reels were in good enough condition to be transferred to a digital format.</p>

<p>After the success of this initial digitization, the scope of the project expanded. With the support of the Nebraska Band Alumni Association, Marching Band Program, and University of Nebraska Foundation, the Cornhusker Marching Band History program began to take shape. Gary Steffens, the collector and donor of the footage, generously provided the funding necessarily for the reel's digitization. Archives Filmworks repaired and repackaged the physical reels in addition to digitizing the remaining footage in the band collection.</p>

<p>The digitized footage was placed in the University of Nebraska's <a href="https://mediacommons.unl.edu/" target="_blank" rel="noreferrer">Media Commons</a> for any interested parties to view.</p>

<h2>The Website</h2>

<p>The next of the project was dreamed up in 2019 by Jessica and Cornhusker Marching Band director Tony Falcone. A small website with the footage, they thought, would complement the 150th anniversary celebration of the University of Nebraska. The website could incorporate some information about specific events in the band's history to go along with the footage. However, soon the website began to take on a life of its own as UNL staff pitched in. Traci Robison of Archives & Special Collections put together a list of more than 200 photos of the band in the University Communications collection. Tony offered to send the script and audio from the band's centennial celebration as well as a recording of the band in 1950. Josh Caster, Archives & Special Collections, recalled seeing the transcript of an interview with 20th century marching band director Don Lentz. Rose Johnson, longtime band staff member, agreed to share some of her stories and photos of the band. By the time of its launch a few months later, the website had grown considerably in scale, with an image gallery, footage gallery, full record audio, interviews, and timeline, with a beautiful design created by Karin Dalziel.</p>

<p>Traci and Jessica took on the next phase of the project in 2020 when, together with student researcher Bella Kane, they began an index of newspaper articles related to the band using the <a href="nebnewspapers.unl.edu/" rel="noreferrer" target="_blank">Nebraska Newspapers</a> online resource.</p>
