<h1>About</h1>

<%= render "about_nav" %>

<p>This project was developed as a partnership between the Archives & Special Collections, University of Nebraska-Lincoln Libraries and the Cornhusker Marching Band with the support of the Center for Digital Research in the Humanities. This website was created not as an all encompassing or ongoing history of the band, but as a snapshot in time of band materials in the Archives & Special Collections.</p>

<p>For technical or other issues, please contact the Center for Digital Research in the Humanities. Email <a href="mailto:cdrh@unl.edu">cdrh@unl.edu</a> or call (402) 472-4547.</p>

<h2>Project Team</h2>

<div class="row">
  <div class="col-md-4">
    <h3 class="about_staff">Jessica Dussault</h3>
    <div class="about_project_role">Co-Principal Investigator and Developer</div>
    <div class="about_position">Band Alum</div>
    <div class="about_dept">Previously University Libraries</div>
  </div>
  <div class="col-md-4">
    <h3 class="about_staff">Traci Robison</h3>
    <div class="about_project_role">Co-Principal Investigator</div>
    <div class="about_position">Outreach Archivist</div>
    <div class="about_dept">University Libraries</div>
  </div>
  <div class="col-md-4">
    <h3 class="about_staff">Anthony Falcone</h3>
    <div class="about_project_role">Associate Director of Bands</div>
    <div class="about_position">Director, Cornhusker Marching Band</div>
    <div class="about_dept">Glenn Korff School of Music</div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="about_staff">Karin Dalziel</h3>
    <div class="about_project_role">Designer</div>
    <div class="about_position">Digital Development Manager & Designer</div>
    <div class="about_dept">University Libraries</div>
  </div>
  <div class="col-md-4">
    <h3 class="about_staff">Katie Jones</h3>
    <div class="about_project_role">Digitization & Metadata Extraordinaire</div>
    <div class="about_position">Agricultural Archives Specialist</div>
    <div class="about_dept">University Libraries</div>
  </div>
  <div class="col-md-4">
    <h3 class="about_staff">Bella Kane</h3>
    <div class="about_project_role">Newspaper Researcher</div>
    <div class="about_position">First Year Research Experience Student</div>
  </div>
</div>

<h2>Past Project Team</h2>

<ul>
  <li>Sara Bailey Roberts, Co-Principal Investigator</li>
  <li>Josh Caster, Archivist</li>
  <li>Blake Graham, Digital Archivist</li>
</ul>
