<% @title = "Archives" %>

<h1>About the Archives</h1>

<%= render "about_nav" %>

<h2>Archives & Special Collections</h2>

<p>Archives & Special Collections is a treasure trove for those who have the time to look through its contents. This site samples only a small number of its resources. There are likely far more band related documents in collections that might not immediately spring to mind, such as the correspondence of past chancellors, Board of Regents minutes, and completely unrelated collections which may have a document mentioning the band or an important event in passing. Archives collections which were used in the creation of this site include:</p>

<ul>
  <li>RG 08-16-05 George Round Oral Histories, Agricultural Communications Records</li>
  <li>RG 33-21-00 Reserve Officers' Training Corps Records</li>
  <li>RG 39-11-00 Baseball, Men's Athletics Records</li>
  <li>RG 39-05-00 Football, Athletic Department</li>
  <li>RG 42-12-01 Athletics Photos, University Communications Records</li>
  <li>RG 42-12-02 University Photos, University Communications Records</li>
  <li>RG 42-12-03 University Photo Collection</li>
  <li>RG 57-09-00 Marching Band, Records</li>
  <li>RG 57-09-01 Marching Band, Audivisual Records</li>
  <li>RG 47-09-02 Marching Band, Artifacts</li>
  <li>RG 57-09-03 Jack Snider, Marching Band Records (previously RG 13-08-33)</li>
  <li>RG 57-09-04 Donald A. Lentz and Gary R. Steffens, Marching Band Records (previously RG 13-08-15)</li>
  <li>RG 57-09-05 Larry Moeller, Marching Band Records</li>
  <li>RG 57-09-06 Jessica Dussault, Marching Band Oral Histories</li>
</ul>

<h2>Digital Resources</h2>

<p>Additionally, a number of digital resources maintained by the University of Nebraska Libraries were crucial for the research of timeline events and stories. These resources are open to the public and you are encouraged to explore them if you have the opportunity.</p>

<ul>
  <li>Nebraska Newspapers: <a href="https://nebnewspapers.unl.edu/" target="_blank" rel="nofollow noopener">https://nebnewspapers.unl.edu/</a> (<em>The Hesperian</em>, <em>The Hesperian Student</em>, <em>The Daily Nebraskan</em> were the most helpful)</li>
  <li>University of Nebraska Yearbooks: <a href="http://yearbooks.unl.edu/" target="_blank" rel="nofollow noopener">http://yearbooks.unl.edu/</a></li>
  <li>University of Nebraska Libraries Image & Multimedia Collections: <a href="https://mediacommons.unl.edu" target="_blank" rel="nofollow noopener">https://mediacommons.unl.edu</a> (particularly the University Communications and Marching Band collections)</li>
  <li>Trans-Mississippi & International Exposition: <a href="http://trans-mississippi.unl.edu/" target="_blank" rel="nofollow noopener">http://trans-mississippi.unl.edu/</a> (used for the 1898 timeline event)</li>
</ul>

<br/><!-- TODO something weird going on here -->

<p>This website was preceded by a student project by Jessica Dussault in 2009, "The Pride of All Nebraska: A Band's Growth from the Military Tradition," which, though aging, is still available online through the <em>Nebraska U</em> portal: <a href="http://unlhistory.unl.edu/exhibits/show/nebraskaband" target="_blank" rel="nofollow noopener">http://unlhistory.unl.edu/exhibits/show/nebraskaband</a>.</p>
