<% @title = "Project History" %>

<h1>Project History</h1>

<%= render "about_nav" %>

<p>TODO write description of history and incorporate previous acknowledgements</p>

<p>This website was originally envisioned in order to make more widely available footage which was part of the marching band collection in Archives & Special Collections, gathered and donated by Don Lentz and Gary Steffens. A digitization effort was undertaken in 2016 and 2017 to secure funding to digitize and preserve the reels of footage for future generations.</p>

<p>Many thanks to all those who worked on that digitization effort. <strong>Jessica Dussault</strong> and <strong>Sara Bailey Roberts</strong>, who were the co-principal investigators of the project; <strong>Katherine Walter</strong>, Professor and Chair, Digital Initiatives and Special Collections, for funding the digitization of three reels as a trial run to test their quality; <strong>Gary Steffens</strong>, band alum and previous steward of the reels in the band collection, who financially sponsored their digitization; the <strong>Nebraska Band Alumni Association</strong>, who gave their support and foundation ties to the project; <strong>Dr. Carolyn Barber</strong>, <strong>Tony Falcone</strong>, and the other School of Music staff who enthusiastically supported the project, filled out financial paperwork, and made connections to interested parties; <strong>Blake Graham</strong>, UNL Digital Archivist, who brought his digitization expertise to bear, coordinated with Archives Filmworks, and described and uploaded the footage to the library media collections; <strong>Bill Reece</strong>, University of Nebraska Foundation, who served as a liaison between multiple interested parties; <strong>Josh Caster</strong>, for his archival experience in locating and storing the reels during the process; <strong>History Nebraska</strong>, who learned of the project and transferred relevant film in their archive to Archives & Special Collections for inclusion with the band footage; and <strong>Paul Eisloeffel</strong> with Archives Filmworks, who digitized the footage, repaired the reels, and repackaged them for long-lasting preservation.</p>
