<h1>About</h1>

<p>This project was developed as a partnership between the Archives & Special Collections, University of Nebraska-Lincoln Libraries and the Cornhusker Marching Band with the support of the Center for Digital Research in the Humanities. This website was created not as an all encompassing or ongoing history of the band, but as a snapshot in time of band materials in the Archives & Special Collections.</p>

<p>For technical or other issues, please contact the Center for Digital Research in the Humanities. Email <a href="mailto:cdrh@unl.edu">cdrh@unl.edu</a> or call (402) 472-4547.</p>

<h2>Contents</h2>

<ul>
  <li><a href="#staff">Project Staff</a></li>
  <li><a href="#acknowledgements">Website Acknowledgements</a></li>
  <li><a href="#archives">Archives Collections and Digital Resources</a></li>
  <li><a href="#tech">Website Technology</a></li>
  <li><a href="#reels">Reel Digitization Acknowledgements</a></li>
</ul>

<h2 id="staff">Project Staff</h2>

<div class="row">
  <div class="col-md-6">
    <h3 class="about_staff">Jessica Dussault</h3>
    <div class="about_project_role">Principal Investigator and Developer</div>
    <div class="about_position">Programmer / Analyst</div>
    <div class="about_dept">University Libraries</div>
  </div>
  <div class="col-md-6">
    <h3 class="about_staff">Anthony Falcone</h3>
    <div class="about_project_role">Associate Director of Bands</div>
    <div class="about_position">Director, Cornhusker Marching Band</div>
    <div class="about_dept">Glenn Korff School of Music</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 class="about_staff">Karin Dalziel</h3>
    <div class="about_project_role">Designer</div>
    <div class="about_position">Digital Development Manager & Designer</div>
    <div class="about_dept">University Libraries</div>
  </div>
  <div class="col-md-6">
    <h3 class="about_staff">Katie Jones</h3>
    <div class="about_project_role">Digitization & Metadata Extraordinaire</div>
    <div class="about_position">Agricultural Archives Specialist</div>
    <div class="about_dept">University Libraries</div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="about_staff">Traci Robison</h3>
    <div class="about_project_role">Photograph Researcher</div>
    <div class="about_position">Outreach Archivist</div>
    <div class="about_dept">University Libraries</div>
  </div>
</div>

<h2 id="acknowledgements">Website Acknowledgements</h2>

<p>This website would not have been possible without the support of <strong>Katherine Walter</strong>, Professor and Chair, Digital Initiatives and Special Collections, who invested funding, resources, and staff time into the project; <strong>Rose Johnson</strong> of the UNL Band who shared a wealth of photos, time, and <%= link_to "memories", "/stories/johnson-interview.html" %>; <strong>Blake Graham</strong>, UNL Digital Archivist, who prepared the <%= link_to "Johnson interview video", "/stories/johnson-interview.html" %> for the web; <strong>Josh Caster</strong>, UNL Archives, who knows where everything is and when everything was; <strong>Greg Tunink</strong> of the CDRH, for setting up the domain and being a sounding board for programming ideas; <strong>Dr. Carolyn Barber</strong>, UNL Director of Bands, for sharing her experience with the Bands and for providing her advice; and <strong>Gary Steffens</strong> for <%= link_to "contributing an article", "/stories/steffens.html" %>. Many thanks to <strong>Matthew Dussault</strong>, <strong>Zach Jewell</strong>, <strong>Ed Love</strong>, and <strong>Andy Pederson</strong>, who tested out the site before its launch, and to proofreaders <strong>Chad Koch</strong>, <strong>Serene Leow</strong>, and <strong>Laura Weakly</strong>. Thanks to <strong>Jeremy Spale</strong> for sharing a photo from his personal collection. And of course, to <strong>Sara Bailey Roberts</strong>, previously of the CDRH, for starting this project with me several years before it became reality.</p>

<h2 id="archives">Archival Collections and Digital Resources</h2>

<p>Archives & Special Collections is a treasure trove for those who have the time to look through its contents. This site samples only a small number of its resources. There are likely far more band related documents in collections that might not immediately spring to mind, such as the correspondence of past chancellors, Board of Regents minutes, and completely unrelated collections which may have a document mentioning the band or an important event in passing. Archives collections which were used in the creation of this site include:</p>

<ul>
  <li>Donald A. Lentz and Gary Steffens Cornhusker Marching Band Collection, RG 13-08-15</li>
  <li>Jack Snider Band Papers, RG 13-08-33</li>
  <li>Don and Velma Lentz Papers, ACC 2029</li>
  <li>Reserve Officers' Training Corps Records, RG 33-21-00</li>
  <li>Athletics Photos, University Communications Records, RG 42-12-01</li>
  <li>University Photos, University Communications Records, RG 42-12-02</li>
  <li>University Photo Collection, RG 42-12-03</li>
  <li>Baseball, Men's Athletics Records, RG 39-11-00</li>
  <li>Football, Athletic Department, RG 39-05-00</li>
  <li>George Round Oral Histories, Agricultural Communications Records, RG 08-16-05</li>
</ul>

<br/><!-- TODO something weird going on here -->

<p>Additionally, a number of digital resources maintained by the University of Nebraska Libraries were crucial for the research of timeline events and stories. These resources are open to the public and you are encouraged to explore them if you have the opportunity.</p>

<ul>
  <li>Nebraska Newspapers: <a href="https://nebnewspapers.unl.edu/" target="_blank" rel="nofollow noopener">https://nebnewspapers.unl.edu/</a> (<em>The Hesperian</em>, <em>The Hesperian Student</em>, <em>The Daily Nebraskan</em> were the most helpful)</li>
  <li>University of Nebraska Yearbooks: <a href="http://yearbooks.unl.edu/" target="_blank" rel="nofollow noopener">http://yearbooks.unl.edu/</a></li>
  <li>University of Nebraska Libraries Image & Multimedia Collections: <a href="https://mediacommons.unl.edu" target="_blank" rel="nofollow noopener">https://mediacommons.unl.edu</a> (particularly the University Communications and Marching Band collections)</li>
  <li>Trans-Mississippi & International Exposition: <a href="http://trans-mississippi.unl.edu/" target="_blank" rel="nofollow noopener">http://trans-mississippi.unl.edu/</a> (used for the 1898 timeline event)</li>
</ul>

<br/><!-- TODO something weird going on here -->

<p>This website was preceded by a student project by Jessica Dussault in 2009, "The Pride of All Nebraska: A Band's Growth from the Military Tradition," which, though aging, is still available online through the <em>Nebraska U</em> portal: <a href="http://unlhistory.unl.edu/exhibits/show/nebraskaband" target="_blank" rel="nofollow noopener">http://unlhistory.unl.edu/exhibits/show/nebraskaband</a>.</p>

<h2 id="tech">Website Technology</h2>

<p>The website technology section is coming soon!</p>

<h2 id="reels">Reel Digitization Acknowledgements</h2>

<p>This website was originally envisioned in order to make more widely available footage which was part of the marching band collection in Archives & Special Collections, gathered and donated by Don Lentz and Gary Steffens. A digitization effort was undertaken in 2016 and 2017 to secure funding to digitize and preserve the reels of footage for future generations.</p>

<p>Many thanks to all those who worked on that digitization effort. <strong>Jessica Dussault</strong> and <strong>Sara Bailey Roberts</strong>, who were the co-principal investigators of the project; <strong>Katherine Walter</strong>, Professor and Chair, Digital Initiatives and Special Collections, for funding the digitization of three reels as a trial run to test their quality; <strong>Gary Steffens</strong>, band alum and previous steward of the reels in the band collection, who financially sponsored their digitization; the <strong>Nebraska Band Alumni Association</strong>, who gave their support and foundation ties to the project; <strong>Dr. Carolyn Barber</strong>, <strong>Tony Falcone</strong>, and the other School of Music staff who enthusiastically supported the project, filled out financial paperwork, and made connections to interested parties; <strong>Blake Graham</strong>, UNL Digital Archivist, who brought his digitization expertise to bear, coordinated with Archives Filmworks, and described and uploaded the footage to the library media collections; <strong>Bill Reece</strong>, University of Nebraska Foundation, who served as a liaison between multiple interested parties; <strong>Josh Caster</strong>, for his archival experience in locating and storing the reels during the process; <strong>History Nebraska</strong>, who learned of the project and transferred relevant film in their archive to Archives & Special Collections for inclusion with the band footage; and <strong>Paul Eisloeffel</strong> with Archives Filmworks, who digitized the footage, repaired the reels, and repackaged them for long-lasting preservation.</p>
