<% @title = "Acknowledgements" %>

<h1>Acknowledgements</h1>

<%= render "about_nav" %>

<p>This website would not have been possible without the support of the following people:</p>

<ul>
  <li>Katherine Walter, Professor and Chair of Digital Initiatives and Special Collections</li>
  <li>Rose Johnson, UNL Band</li>
  <li>Blake Graham, Digital Archivist</li>
  <li>Josh Caster, UNL Archives</li>
  <li>Greg Tunink, CDRH Programmer & Analyst</li>
  <li>Dr. Carolyn Barber, UNL Director of Bands</li>
  <li>Jeremy Spale, donor to website contents</li>
  <li>Gary Steffens, band historian and collection donor</li>
</ul>

<p>Many thanks to the following proofreaders and website testers:</p>

<ul>
  <li>Andy Pederson</li>
  <li>Chad Koch</li>
  <li>Ed Love</li>
  <li>Laura Weakly</li>
  <li>Matthew Dussault</li>
  <li>Serene Leow</li>
  <li>Zach Jewell</li>
</ul>
