<h1>Timeline</h1>

<% @ext_css = add_assets(@ext_css, ["simpleLightbox.min", "timeline"] ) %>
<% @ext_js = add_assets(@ext_js, ["simpleLightbox.min"] ) %>

</div><!-- /container -->
<div class="container-fluid">
    <!-- Vertical Timeline -->
  <section id="band-timeline">
    <div class="timeline-start">
      1869<br/>
      University founded
    </div>
    <div class="band-center-line"></div>
    <div class="band-timeline-content">

      <% years = %w[
        1876
        1879
        1882
        1898
        1904
        1918
        1927
        1932
        1936
        1937
        1938
        1941
        1943
        1961
        1972
        1974
        1975
        1979
        1993
        1996
        1999
        2005
        2008
      ] %>

      <% years.each_with_index do |year, index| %>
        <%# alternate left and right sides by year %>
        <% direction = index%2 == 0 ? "left" : "right" %>
        <%= render partial: "general/timeline/#{year}", locals: { direction: direction } %>
      <% end %>

    </div>
    <div class="timeline-end">2019</div>
  </section>
  <!-- // Vertical Timeline -->
</div>
<div class="container">

<!-- TODO make a new home for this -->
<!-- NOTE images are 300 and 800 -->
<script>
  new SimpleLightbox({elements: '.band-timeline-content .gallery'});
</script>
