<div class="row interview-row interview-<%= label.parameterize.downcase %>">
  <div class="col-md-2 interview-label"><%= label %></div>
  <div class="col-md-10 interview-text"><%= yield %></div>
</div>
