<% @title = "Gary Steffens Reflections" %>

<h1>
  <span data-field="title">The Band Collection in Archives</span>
</h1>
<p><span data-person="band.per.0100">Gary Steffens</span></p>

<div class="introduction card card-body bg-light">
  <p>Band alumnus <span data-field="source">Gary Steffens</span> is the author of <em>Pride of the Cornhuskers</em> and sponsored the digitization of much of the <%= link_to "footage", footage_path %> on this site. Steffens gathered documents and items which he donated to the University of Nebraska Archives and Special Collections to create the <span data-person="band.per.0011">Donald A. Lentz</span> and Gary Steffens Cornhusker Marching Band Collection, Record Group 13-08-15.</p>
</div>

<h2>The Collection's Creation</h2>

<p>My love affair with the Cornhusker Marching Band began in 1955 when, at the tender age of 5, my father took me to my first NU football game. It happened to be Band Day and the color, sound , and pageantry of it all left an indelible mark on my impressionable mind. From that day on I begged my father every year to take me to Band Day, which he did! There were other games of course like that glorious 1959 Oklahoma game when their 23 year conference undefeated streak came to an end. (I still have a piece of the goalpost from that game). But it was Band Day and the NU Band that captured my heart.</p>

<p>My parents were forever convinced that the only reason I learned to play trumpet was to get into the Band. And when that day did come to pass my joy knew no bounds! To borrow a phrase from railroad author Lucius Beebe, I had made the golden journey to Samarkand. And in those years of membership, I was privileged to experience four of the five original bowl games, two national championships, every conference campus, and a European tour. But then came that inevitable day when I marched my last show and turned in my uniform for the last time.</p>

<p>What now? One does not just walk away from an experience of that caliber. I tried to stay involved with the program, first by joining the Band Alumni Association, eventually becoming its president, and second by becoming the first official band photographer. But its history was what intrigued me the most. When and how did it begin? I've always been a history buff and this seemed a logical extension if that interest. I found that little was actually known of its formative years. Beginning while still a student, I began haunting the NU Archives and any other possible source of information I could think of. What I discovered was remarkable! It was as if those who came before us, our "bandfathers" if you will, made sure there was a record of their doings. It only took someone to put it all together.</p>

<p>The result was <em>Pride of the Cornhuskers</em> published in 1980. After that, the information, stories and artifacts were almost continuously forthcoming, and I became the de facto band historian. Eventually that collection of material became the core of the Band collection in the NU Archives. The newly created website captures much of that collection. So please join me in celebrating the glorious history of my Band. The UNIVERSITY OF NEBRASKA CORNHUSKER MARCHING BAND!</p>

<h2>A Word on the History of College Marching Bands</h2>

<p>Did it all begin here? The college marching band is a uniquely American phenomenon.  Along with its auxiliary activities, like the card section, it has been copied in varying degrees all over the world.  How and where it all began though is shrouded in the mists of time.</p>

<p>In 1960, music historian <span data-person="band.per.0113">Dr. Kenneth Barger</span> attempted a comprehensive history of college bands.  The result was a mixed bag of mostly legend and hearsay.  None of the respondents knew their history with any degree of accuracy nor could they provide any documentation to substantiate their claims.  Certainly the formation of the NCAA in 1906, whose rules created the first bonafide halftime of ten minutes, played a significant role.  And the rise in popularity of college football in the 1920's gave it a substantial boost.  But these were not the formative steps, only the results.</p>

<p><span data-person="band.per.0114">Albert Harding</span> at the University of Illinois, and <span data-person="band.per.0115">Paul Emmerick</span> at Purdue University are recognized as early pioneers of halftime entertainment, but they are also examples of post NCAA organization.  Only one program has extensive documentation of pre 1906 activities, the University of Nebraska.  Beginning with its first halftime performance in 1892,  the Cornhusker Marching Band lists an impressive list of accomplishments:  making annual migrations to out-of-town football games beginning in 1901, becoming the first college band to travel to both coasts, the creation of Band Day, performing the first continuous movement precision show, and becoming the first band to perform in all five of the original bowl game under the same director.  Only time will tell the rest of the story, but maybe, just maybe it all really did begin in Lincoln, Nebraska.</p>
