<% @title = "Documents" %>

<p class="lead">TODO fill in information about types of documents and coming soon.</p>

<div class="section-nav-container">
  <%= link_to :newspapers_home, class: "section-nav section-nav-documents section-nav-documents-newspapers" do %>
    <div class="section-nav-title">Newspapers</div>
    <div class="section-nav-subtitle">Read the student newspaper accounts from the past century</div>
    <div class="section-nav-image"></div>
  <% end %>

  <%= link_to :documents, class: "section-nav section-nav-documents" do %>
    <div class="section-nav-title">Coming Soon</div>
    <div class="section-nav-subtitle">Manuals, correspondence, drill charts, and more, coming soon</div>
    <div class="section-nav-image"></div>
  <% end %>
</div>
