<% @title = "Documents" %>

<p class="lead">The band left in its wake an impressive paper trail, spanning newspaper accounts, correspondence, scrapbooks, and manuals. Although the bulk of these have yet to be digitized, they are available for visitors to view in the University Archives & Special Collections.</p>

<p>In this section of the website, you will find an index of hundreds of articles from student newspapers, such as <em>The Hesperian Student</em> and <em>The Daily Nebraskan</em>, which mention the band. Additionally, drill charts and memorandums have been scanned and transcribed under Drill and Correspondence and Papers. Be sure to check out the <%= link_to "1937 Band Manual", drill_item_path(id: "band.doc.0002") %>, which is a fascinating look into how the band used to function pre-WWII.</p>

<div class="section-nav-container">
  <%= link_to :newspapers_home, class: "section-nav section-nav-documents section-nav-documents-newspapers" do %>
    <div class="section-nav-title">Newspapers</div>
    <div class="section-nav-subtitle">Browse an index of student newspaper articles</div>
    <div class="section-nav-image"></div>
  <% end %>

  <%= link_to :correspondence_home, class: "section-nav section-nav-documents
    section-nav-documents-correspondence" do %>
    <div class="section-nav-title">Correspondence and Papers</div>
    <div class="section-nav-subtitle">Letters, petitions, and more</div>
    <div class="section-nav-image"></div>
  <% end %>

  <%= link_to :drill_home, class: "section-nav section-nav-documents" do %>
    <div class="section-nav-title">Drill</div>
    <div class="section-nav-subtitle">Band manuals and drill charts</div>
    <div class="section-nav-image"></div>
  <% end %>
</div>
