<% @title = "Documents" %>

<p class="lead">The band left in its wake an impressive paper trail, spanning newspaper accounts, correspondence, scrapbooks, and manuals. Although the bulk of these have yet to be digitized, they are available for visitors to view in the University Archives & Special Collections. An index of mentions of the band by student newspapers, such as The Hesperian Student and The Daily Nebraskan, has been created to help identify specific events and trends in the band's history.</p>

<div class="section-nav-container">
  <%= link_to :newspapers_home, class: "section-nav section-nav-documents section-nav-documents-newspapers" do %>
    <div class="section-nav-title">Newspapers</div>
    <div class="section-nav-subtitle">Browse an index of student newspaper accounts</div>
    <div class="section-nav-image"></div>
  <% end %>

  <a class="section-nav section-nav-documents">
    <div class="section-nav-title">Coming Soon</div>
    <div class="section-nav-subtitle">Manuals, correspondence, drill charts, and more, coming soon</div>
    <div class="section-nav-image"></div>
  </a>
</div>
