<% @title = "Personal Accounts" %>

<h1>Personal Accounts</h1>

<%# TODO add introduction %>

<h2>Interviews</h2>

<div class="section-nav-container">

  <%= link_to account_path(id: "lentz"), class: "section-nav section-nav-stories section-nav-stories-lentz" do %>
    <div class="section-nav-title">
      1974 Don Lentz Interview
    </div>
    <div class="section-nav-subtitle">
      Conversation with the Recently Retired Director of Bands
    </div>
    <div class="section-nav-image"></div>
  <% end %>

  <%= link_to account_path(id: "johnson"), class: "section-nav section-nav-stories section-nav-stories-johnson" do %>
    <div class="section-nav-title">
      2019 Rosemary Johnson Interview
    </div>
    <div class="section-nav-subtitle">
      Conversation with a Band Staff Member of 41 Years
    </div>
    <div class="section-nav-image"></div>
  <% end %>

  <%= link_to account_path(id: "krejci"), class: "section-nav section-nav-stories section-nav-stories-krejci" do %>
     <div class="section-nav-title">
      2019 Robert F. Krejci Conversation
    </div>
    <div class="section-nav-subtitle">
      Stories from the 1941 Rose Bowl Trip
    </div>
    <div class="section-nav-image"></div>
  <% end %>

</div>

<h2>Reflections</h2>

<div class="section-nav-container">

  <%= link_to account_path(id: "steffens"), class: "section-nav section-nav-stories section-nav-stories-steffens" do %>
    <div class="section-nav-title">
      The Band Collection in Archives
    </div>
    <div class="section-nav-subtitle">
      By <em>Pride of the Cornhuskers</em> Author Gary Steffens
    </div>
    <div class="section-nav-image"></div>
  <% end %>

</div>
