<h1>Features</h1>

<%# TODO add introduction %>

<div class="section-nav-container">

  <%= link_to feature_path(id: "marches"), class: "section-nav section-nav-stories section-nav-stories-march" do %>
    <div class="section-nav-title">
      "Marches and Songs of the Cornhuskers"
    </div>
    <div class="section-nav-subtitle">
      125th Anniversary Concert, 2005
    </div>
    <div class="section-nav-image"></div>
  <% end %>

</div>
