<h1>Stories</h1>

<p class="lead">Documents, photographs, interviews, and more organized in archives tell stories. Who and what are collected in such archives determines the sort of story that is ultimately told, and it should be kept in mind when looking through the documents and images through this site what more in the band's history is left untold decades after events have passed.</p>

<p class="lead">However, with the evidence that is available, we can begin to put together pieces. The stories below range from first-hand accounts in the form of interviews, the development of band music told through a lecture-concert, and articles that use archival items to focus on specific events and movements in the band's history.</p>

<div class="section-nav-container">

  <%= link_to :accounts, class: "section-nav section-nav-stories section-nav-stories-interviews" do %>
    <div class="section-nav-title">
      Personal Accounts
    </div>
    <div class="section-nav-subtitle">
      Interviews and reflections by directors, staff, and members
    </div>
    <div class="section-nav-image"></div>
  <% end %>

  <%= link_to :features, class: "section-nav section-nav-stories section-nav-stories-features" do %>
    <div class="section-nav-title">
      Features
    </div>
    <div class="section-nav-subtitle">
      Highlights of the band's history through presentations and essays
    </div>
    <div class="section-nav-image"></div>
  <% end %>

</div>
