<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1879</span>
  </div>

  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "The Cadet Band",
    id: "cadet-band",
    image: "130815-07231.jpg",
    image_attr: nil,
    image_caption: "Cadets and cadet band stand in uniform outside Nebraska Hall",
    image_link: "130815-07231"
     } do %>
    <p>In 1879, a new commandant, Lt. Isaac T. Webster, took over the cadets.  At the time, the cadets were accompanied only by, as colorfully depicted by the 1884 yearbook, "the unreliable 'yip, yip' of some awkward scrub in the ranks, accompanied by deafening wails from a broken-voiced flute."  Unimpressed, Lt. Webster called for volunteers to create a band and offered those who would take on the extra duty something very valuable -- free uniforms.</p>

    <p>Cadet uniforms could be prohibitively expensive, between $14.50 and $20.25 notes the <em>History of the Military Department University of Nebraska 1876 - 1941</em>, and the promise of a free uniform drew twelve eager cadets. <em>The Hesperian Student</em> notes "Through the aid of Lincoln’s generous citizens grey uniforms were purchased, which are now the property of the band."</p>

    <p>The enthusiasm of the new cadet band may have exceeded their musical experience, however.  The 1884 yearbook notes that "Prominent Lincolnites collected two hundred dollars, purchased a set of handsome gray uniforms and presented them to the band on condition that the donors would never be required to listen to any of its music."

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><em>History of the Military Department University of Nebraska 1876 - 1941</em>, Nebraska Writers Project 1942, pg 6, University of Nebraska Archives and Special Collections, RG 33/00/00, 29/06/15/05</li>

        <li><a target="_blank" rel="nofollow noopener" href="http://nebnewspapers.unl.edu/lccn/sn96080316/1882-03-01/ed-1/seq-6/">"Our Webster",</a> <em>The Hesperian Student</em>, March 1, 1882.</li>

        <li><a target="_blank" rel="nofollow noopener" href="http://yearbooks.unl.edu/yearbook.php?year=1884,124#page/56/mode/transcription">"The Cadet Band,"</a> <em>The Sombrero</em>, 1884.</li>

        <li>Peterson, H.C. <a target="_blank" rel="nofollow noopener" href="http://yearbooks.unl.edu/yearbook.php?year=1895,304#page/49/mode/transcription">"Our War Department"</a>, <em>The Sombrero</em>. 1895.</a></li>

        <li><a target="_blank" rel="nofollow noopener" href="https://n150.unl.edu/nebraska-timeline-1869-1919#event-171">"The First Band,"</a> <em>n150 Timeline</em></li>
      </ul>
    </div>
  <% end %>
</div>
