<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1876</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Military Department Formed",
    id: "military-dept",
    image: "332100-00003.jpg",
    image_attr: nil,
    image_caption: "ROTC cadets on parade ground, 1881.",
    image_link: "332100-00003" } do %>
    <p>The Morrill Act, through which the University of Nebraska was created, stipulated that land grant institutions must support "...at least one college where the leading object shall be, without excluding other scientific and classical studies, and including military tactics, to teach such branches of learning as are related to agriculture and the mechanic arts...". In 1876, to fulfill the Act’s requirement for military tactics to be taught, the fledgling University established the Military Science program.</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://catalog.archives.gov/id/299817">Read the Morrill Act online</a> through the National Archives</li>
        <li><a target="_blank" rel="nofollow noopener" href="https://www.loc.gov/rr/program/bib/ourdocs/morrill.html">Library of Congress resources</a> related to the Morrill Act</li>
        <li><a target="_blank" rel="nofollow noopener" href="https://www.unl.edu/armyrotc/cadre-1">Big Red Battalion ROTC History</a></li>
      </ul>
    </div>
  <% end %>
</div>
