<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1882</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "The Band Travels to Crete for Baseball",
    id: "baseball",
    image: "390511-01690.jpg",
    image_attr: nil,
    image_caption: "University of Nebraska baseball team, 1887-1888",
    image_link: "390511-01690" } do %>
    <p>In May 1882, campus was buzzing with excitement over the baseball game that would be played in Crete that month. The young band was also enthusiastic, and the university paper, The Hesperian Student, reported that "The Cadet Band set all a roaring by coming on the scene in sober black suits, white ties and gloves and the tallest of 'stove-pipe' hats." To fill its ranks, the cadet band even recruited a high school student from Plattsmouth, Frank Wheeler, to join the ensemble for the day. It was noted that Frank played baritone, "and excellently, too."</p>

    <p>The Cadet Band joined with Crete's band to lead the excited students from the train station to the ball grounds, where, despite the students' best efforts to cheer on the team, Doane won 32 to 10.</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080316/1882-05-15/ed-1/seq-6/">"The Crete Contest"</a>, <em>The Hesperian Student</em>, May 15, 1882, p 6-7.</a></li>
      </ul>
    </div>
  <% end %>
</div>
