<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1898</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Cadets March in Trans-Mississippi Exposition Parade",
    id: "tmExpo",
    image: "332100-00002.jpg",
    image_attr: nil,
    image_caption: "ROTC officers and cadet band, 1896",
    image_link: "332100-00002" } do %>
    <p>In 1898, inspired by the Chicago World's Fair, the Trans-Mississippi and International Exposition was held in Omaha, Nebraska. The multi-month event drew attendees from near and far, including President McKinley. <em>The Omaha Daily Bee</em> notes that Cadets marched in the opening 2 mile parade dressed in "blue coats and white duck trousers." The Cadets may have spent the next several days at Fort Omaha for their annual encampment.</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://history.nebraska.gov/publications/trans-mississippi-exposition-parade">"Trans-Mississippi Exposition Parade"</a>, <em>History Nebraska</em></li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn99021999/1898-06-01/ed-1/seq-9/#words=Cadets">"Dream is a Reality"</a>, <em>The Omaha Daily Bee</em>, June 1, 1898, p 9.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn99021999/1898-06-02/ed-1/seq-1/#words=cadets">"One Mighty Column"</a>, <em>The Omaha Daily Bee</em>, June 2, 1898, p 1.</li>

        <li>Images, scrapbooks and more available on the <em><a target="_blank" rel="nofollow noopener" href="http://trans-mississippi.unl.edu">Trans-Mississippi & International Exposition</a></em> website, Center for Digital Research in the Humanities (UNL)</a></li>
      </ul>
    </div>
  <% end %>
</div>
