<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1904</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "The Cadets Go to the St. Louis World's Fair",
    id: "stlouis",
    image: "570904-07227.jpg",
    image_attr: nil,
    image_caption: "August Hagenow, band director, <br/>and members of band from 1903",
    image_link: "570904-07227" } do %>
    <p>
      "The University Cadet band will accompany the train and wake up old Missouri," proclaimed the May 27, 1904 <em>Daily Nebraskan</em>, describing an upcoming excursion to visit the St. Louis World's Fair. The Cadets had arranged early in 1904 to make their annual encampment at the fairgrounds, similar to their experience at the much closer 1898 Trans-Mississippi and International Exposition in Omaha. The University sponsored a decorated train to take students to the exhibition.
    </p>

    <div class="resources">
      Source
      <ul>
        <li>
          <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1904-01-20/ed-1/seq-1/">"A Space Reserved"</a>, <em>The Daily Nebraskan</em>, January 20, 1904.
        </li>

        <li>
          <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1904-02-03/ed-1/seq-1/">"Cadet Encampment Again,"</a> <em>The Daily Nebraskan</em>, February 3, 1904.
        </li>

        <li>
          <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1904-02-11/ed-1/seq-1/">"Further Communication,"</a> <em>The Daily Nebraska</em>, February 11, 1904.
        </li>

        <li>
          <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1904-05-27/ed-1/seq-1/">"Final Arrangements,"</a> <em>The Daily Nebraskan</em>, May 27, 1904.
        </li>
      </ul>
    </div>
  <% end %>
</div>
