<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1927</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Sousa Visits and Composes March for University",
    id: "sousa",
    image: "sousa_cup2.jpg",
    image_attr: "Photo Credit: Jessica Dussault",
    image_caption: "The Sousa trophy on display",
    image_link: nil } do %>
    
    <p>November 1st, 1927, "The March King" John Philip Sousa and his band paid a visit to Lincoln, Nebraska for two much anticipated concerts on the newly updated Coliseum stage. His visit became a large event for the city of Lincoln. Over a dozen high school bands came to town for "band day" and paraded through the streets. The lucky bands took part  in both concerts, "formed into one huge organization and directed by Sousa himself." <em>The Daily Nebraskan</em> reported that even the University of Kansas band planned to take part in the proceedings, playing Sousa marches during the concert intermissions. An estimated 5,000 people attended the two concerts to hear Sousa's band and the other participants in "band day."</p>

    <p>The legacy of Sousa's visit still endures today. During his visit, Sousa presented the R.O.T.C. band with a silver "loving cup" trophy for the regiment's rating the previous year, a trophy which rests today in the School of Music's halls. Also, at the request of Chancellor Burnett, Sousa composed the "University of Nebraska March" the following year.</p>


    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><%= link_to "Listen to a recording", "/stories/marches.html" %> of the Symphonic Band performing "The University of Nebraska" march</li>

        <li>Read more about the "University of Nebraska March" in an article written for the 150th anniversary of the university: <a target="_blank" rel="nofollow noopener" href="https://news.unl.edu/newsrooms/today/article/n150-sousa-pens-special-march-for-nebraska-u/">"Sousa Pens Special March for Nebraska U"</a></li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-10-16/ed-1/seq-1/">"Stage is Made Ready for Band,"</a> <em>The Daily Nebraskan</em>, October 16, 1927.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-10-19/ed-1/seq-1/">"The Man Who Won the War,"</a> <em>The Daily Nebraskan</em>, October 19, 1927.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-09-29/ed-1/seq-1/">"Date Set for Sousa Event,"</a> <em>The Daily Nebraskan</em>, September 29, 1927.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-10-09/ed-1/seq-1/">"Sousa Says Newspapers Furnish Best Sources of Inspiration,"</a> <em>The Daily Nebraskan</em>, October 9, 1927.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-10-23/ed-1/seq-1/">"Sousa Will Hear Band Day Program,"</a> <em>The Daily Nebraskan</em>, October 23, 1927.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-10-23/ed-1/seq-3/">"Kansas Band Plays Here,"</a> <em>The Daily Nebraskan</em>, October 23, 1927.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-10-30/ed-1/seq-1/">"Fifteen Bands Visit Lincoln,"</a> <em>The Daily Nebraskan</em>, October 30, 1927.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-11-01/ed-1/seq-1/">"Sousa's Band Plays Today in Two Concerts,"</a> <em>The Daily Nebraskan</em>, November 1, 1927.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-11-02/ed-1/seq-1/">"Sousa Pleases Large Number with Program,"</a> <em>The Daily Nebraskan</em>, November 2, 1927.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-11-03/ed-1/seq-1/">"Leader Will Compose March for Nebraska,"</a> <em>The Daily Nebraskan</em>, November 3, 1927.</li>
      </ul>
    </div>
  <% end %>
</div>
