<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1937</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Donald Lentz Becomes Marching Band Director",
    id: "lentz",
    image: "421202-01809.jpg",
    image_attr: nil,
    image_caption: "Don Lentz",
    image_link: "421202-01809" } do %>

    <p>When beloved director Billy Quick fell ill in the fall of 1937, new hire Donald Lentz took over marching band duties. He could not have foreseen that he would continue as the marching band director for more than twenty years, and Director of Bands until 1973. During his time with the band, the group grew in size, became a civilian organization rather than a military one, undertook creative drill formations, marched in the Rose Bowl and parade, weathered World War II, and added songs to the band's repertoire. Lentz made the musicality of the group his highest priority. For Lentz, this emphasis meant rejecting trends of other programs at the time, such as the addition of twirlers and dance teams. "A band has to be the main group, not just an accompanying group," he told the <em>Omaha World Herald</em>.</p>

    <p>Lentz was known nationally for formalizing "Band Day" as a monumentally large event for high school band members. He was also recognized for his study of Asian cultures and history. He traveled frequently to the continent, collecting art and instruments and researching musicology. Today, a room in UNL's Love Library is dedicated to this collection. Lentz is also remembered through the Nebraska State Bandmasters Association's <a target="_blank" rel="nofollow noopener" href="https://nsbaarchives.com/donald-a-lentz-outstanding-bandmaster-award">Donald A. Lentz Outstanding Bandmaster Award</a> and the <a target="_blank" rel="nofollow noopener" href="https://nufoundation.org/-/unl-hixson-lied-college-of-fine-and-performing-arts-school-of-music-donald-a-lentz-memorial-band-fund-01039250">Donald A. Lentz Memorial Band Fund</a>.</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="/stories/lentz-interview.html">1974 interview with Don Lentz</a></li>
        <li>Jordon, Steve. "N.U.'s Lentz Pioneered Bands," <em>Omaha World Herald</em>, April 7, 1973. Available in the University of Nebraska Archives and Special Collections, Lentz collection ACC2029, Box 1</li>
        <li><a target="_blank" rel="nofollow noopener" href="https://www.unl.edu/lentz/about-us">Learn about the Lentz Collection for Asian Culture</a></li>
      </ul>
    </div>
  <% end %>
</div>
