<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1936</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "The Band's First Non-Military Uniforms",
    id: "uniforms",
    image: "421203-03347.jpg",
    image_attr: nil,
    image_caption: "Band members in the new uniforms",
    image_link: "421203-03347" } do %>

    <p>By the end of the 1920s the military garb of the marching band was beginning to detract from the band's performances. After a subset of the band traveled to West Point in 1928, a local paper compared their looks to "messenger boys," a comment that <em>The Daily Nebraskan</em> rebutted by saying the author "probably meant that the boys looked quite dashing for the messenger boys are quite a dashing lot." It was undeniable, however, that the marching band's appearance did not match their increasing role on campus as a purveyor of pep.</p>

    <p>In 1935, <em>The Daily Nebraskan</em> published a scathing article comparing the "dull and colorless gray" Nebraska band with the "glittering" dress of the visiting University of Kansas band. "Brighter uniforms would help a lot," the article remarked. By early 1936, spurred by the Kansas visit, it was announced that the military department would be purchasing new scarlet and cream uniforms. "A properly dressed band is a better marching band," the military department's Colonel Oury was quoted as saying. The band's director, Billy Quick, agreed: "They play better now that they have good looking suits."</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1928-11-28/ed-1/seq-1/">"'Nebraskans Looked Like Carnival Hoodlums,' Says New York Writer"</a> <em>The Daily Nebraskan</em>, November 28, 1928.</li> 

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1935-11-10/ed-1/seq-2/">"Say It With Music,"</a> <em>The Daily Nebraskan</em>, November 10, 1935.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1936-02-27/ed-1/seq-1/">"Nebraska Band to Wear New, Colorful Uniforms Next Fall,"</a> <em>The Daily Nebraskan</em>, February 27, 1936.</li>

        <li><a target="_blank" rel="nofollow noopener" href="http://nebnewspapers.unl.edu/lccn/sn96080312/1937-05-20/ed-1/seq-1/">"'Billy' Quick Reminiscenes on 19 Happy Years as Band Leader,"</a>, <em>The Daily Nebraskan</em>, May 20, 1937.</li>
      </ul>
    </div>
  <% end %>
</div>
