<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1938</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "First Official High School Band Day",
    id: "bandday",
    image: "130815-07429.jpg",
    image_attr: nil,
    image_caption: "1964 football program, Band Day",
    image_link: "130815-07429" } do %>

    <p>On a blustery, snowy day in 1938, the first official Band Day for high school bands took place in Lincoln, Nebraska. At its peak, Band Day would draw 3,600 students from 60 high schools across the state for a full day with a parade, football game, and massive on-field formations with dozens of other high school bands.</p>

    <p>The concept of "Band Day" at UNL appears in print as early as 1926, when composer and conductor John Philip Sousa visited Lincoln and conducted high school bands. Within a decade, Band Day was an annual event with participants ranging from Nebraska and Iowa high school bands to municipal and company bands. An advertisement in 1933 claimed about the "music spectacle," that there would be a parade "through the downtown district, followed by a mass concert of hundreds of musicians in the stadium." When Donald Lentz became the director, he refined this existing event into a high school specific occasion. Lentz's rationale for this change was to improve band member recruitment and to build "...interest in the band across the state," he recalled in a 1973 <em>Omaha World Herald</em> article.</p>

    <p>Early in its history, the massive scale of Band Day was one of its most appreciated qualities. Begun by John Selleck in the midst of the Great Depression, Band Day filled seats in a relatively new stadium desperately in need of an audience. A few years later during World War II, Band Day's size and popularity drew another needed audience despite higher expenses and rations. Don Lentz said in a 1974 interview that "the only thing that saved the Athletic Department was that Band Day." Lentz recalled that Band Day was so popular with the Athletic Department during WWII that Athletic Director Potsy Clark asked Lentz if every game could be Band Day.</p>

    <p>The sheer size of Band Day was ultimately its downfall. By 1971, as rising demand for seats and enhancements to the stadium made it difficult to host so many students even once a year. In the decades following the war, the Athletic Department's support for Band Day began to decline and its activities restricted. In a fiery letter to Nebraska State Bandmaster's Association members in 1966, George Meredith predicted the end of the event:  "We are witnessing, here in Nebraska, the death throes of the oldest and finest institution of its type in the nation - that being the University of Nebraska Band Day. Commencing this fall, the assembled bands will no longer be allowed to march on the field during half-time of the Band Day game...Make no mistake, Band Day has been pushed off the field - soon it will find itself out of the stadium as well." Within 5 years, Meredith's prediction had come true, as 1971 was the final Band Day at the University of Nebraska.</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><%= link_to "1974 interview with Lentz explores history of Band Day", "/stories/lentz-interview.html#bandDayStart" %></li>

        <li>Meredith, George. "George Meredith to Jack Snider on Behalf of NSBA," letter. Postmarked May 13, 1966. University of Nebraska Archives and Special Collections, RG 130833 Box 1 Folder 4.</li>

        <li>Jordon, Steve. "N.U.'s Lentz Pioneered Bands," <em>Omaha World Herald</em>. April 7, 1973. University of Nebraska Archives and Special Collections, Don and Velma Lentz Papers, ACC2029 Box 1.</li>

        <li><a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1927-10-23/ed-1/seq-1/" target="_blank" rel="nofollow noreferrer">"Sousa Will Hear Band Day Program,"</a> <em>The Daily Nebraskan</em>, October 23, 1927.</li>

        <li><a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1933-11-23/ed-1/seq-4/#words=Band+Day" target="_blank" rel="nofollow noreferrer">Advertisement</a>, <em>The Daily Nebraskan</em>, November 23, 1933.</li>

        <li><a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1936-10-04/ed-1/seq-1/#words=Band+Day" target="_blank" rel="nofollow noreferrer">"27 Out State Bands Go On Parade Before Husker-Cyclone Tilt"</a>, <em>The Daily Nebraskan</em>. October 4, 1936.</li>

        <li><a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1935-10-22/ed-1/seq-1/#words=Band+Day" target="_blank" rel="nofollow noreferrer">"Dads Tops On Campus Saturday"</a>, <em>The Daily Nebraskan</em>, October 22, 1935.</li>

        <li><a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1937-10-14/ed-1/seq-1/#words=band+day" target="_blank" rel="nofollow referrer">"Husker-Sooner Tilt to Feature 38 Prep Bands at Halftime"</a>, <em>The Daily Nebraskan</em>, October 14, 1937.</li>

        <li><a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1941-10-09/ed-1/seq-1/#words=band+Band+day+Day" target="_blank" rel="nofollow noreferrer">"KU, Nebraska, 35 High School Bands Will Play Here Saturday"</a>, <em>The Daily Nebraskan</em>, October 9, 1941.</li>

        <li><a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1949-10-23/ed-1/seq-2/#words=Band+Day+Days" target="_blank" rel="nofollow noreferrer">"Three Thousand Prepsters March at NU Band Day"</a>, <em>The Daily Nebraskan</em>, October 23, 1949.</li>
      </ul>
    </div>
  <% end %>
</div>
