<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1932</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: '"Big Bertha" Joins the Band',
    id: "bertha",
    image: "421201-00355.jpg",
    image_attr: nil,
    image_caption: "Drum Majors Jack Snider, Don Lentz and <br/>Big Bertha (drum) for football program cover.",
    image_link: "421201-00355" } do %>
    <p>In March of 1932, the band got a little bigger through the addition of "Big Bertha," a five foot drum. Bertha was joined by two lyres and decorated trumpets, part of a move that John K. Selleck noted in <em>The Daily Nebraskan</em> made the university "the only school in the Big Six that can boast of having such extensive equipment." Steffens writes in <em>Pride of the Cornhuskers</em> that Quick, the band director, did not appreciate the drum. "He thought it had a terrible sound quality."</p>

    <p>During Don Lentz's time as marching band director, Big Bertha and the other instruments fell out of use. It was not until 1961 that Big Bertha returned to aid the introduction of band twirler Joyce Burns. "In one moment, I burst out of Big Bertha's innermost depths, into a world of band sounds and cheering crowds" she recalled in a letter to Snider in 1992. 1961 also saw the return of the lyres as band director Snider mixed old traditions with new ideas.</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li>
          <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1932-03-08/ed-1/seq-1/">"Band Gets Seven New Instruments,"</a> <em>The Daily Nebraskan</em>, March 8, 1932.</li>

        <li>
          <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1961-09-25/ed-1/seq-4/">"Big Bertha Surprise Highlights Half-Time,"</a> <em>The Daily Nebraskan</em>, September 25, 1961.
        </li>

        <li>
          Sack, Janet. <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1961-09-20/ed-1/seq-1/">"Marching Band Gains New Look; Tall 'Bertha' Leads with Big Beat,"</a> <em>The Daily Nebraskan</em>, September 20, 1961.
        </li>

        <li>Steffens, Gary R. "The Lean Years," <em>Pride of the Cornhuskers, 1981. Taylor Publishing Company, Dallax, TX. p 88.</em></li>

        <li>"Joyce D. (Burns) Thimgan to Jack Snider," letter, March 31, 1992. University of Nebraska Archives and Special Collections, Jack Snider Band Papers RG130833</li>
      </ul>
    </div>
  <% end %>
</div>
