<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1941</span>
  </div>
  <% attr = "<a href='#{url_for "/multimedia/footage.html#20801"}'>View footage from which image was taken</a>" %>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "The Rose Bowl",
    id: "rosebowl",
    image: "footage-2.08.01.jpg",
    image_attr: attr,
    image_caption: "Still image from footage of the Rose Parade, 1941",
    image_link: nil } do %>

    <p>"A red flag hung outside the office of Band Director Don Lentz early Saturday morning...it mean[t] that the athletic board had decided...to send the band to Pasadena on New Year's day," described <em>The Daily Nebraskan</em> on December 15, 1940. After weeks of uncertainty, the band was going to The Rose Bowl! Along the way, the lucky members on the trip stopped to perform in cities on the route and visited Juárez, Mexico. As Don Lentz recalls in a later interview, such sightseeing was part of a requirement that the band's travel be "an educational trip."</p>

    <p>On top of the expected challenges of traveling with a large group and performing in a series of events, the day the band left Lincoln Don Lentz received word that ASCAP, the American Society of Composers, Arrangers, and Performers, was declaring a strike which would "go info effect on January 1st," Don Lentz recalled in <em>Pride of the Cornhuskers</em>. "Since both the parade and game were to be broadcast and every one of our scheduled pieces was ASCAP, we couldn't use them." Lentz scrambled to write out parts to pieces not under ASCAP's purview which could be used in both the parade and game, and band members put together words to the tune of <em>Song of the Vagabonds</em> by Rudolph Friml, which is better known today to band members as <em>Band Song.</em></p>

    <p>In spite of the ASCAP strike, <em>Pride of the Cornhuskers</em> contains accounts of the band striking up "Nebraska U" during the parade. Lentz recalls "It scared me to death and the first thing after we got back, Regent Thompson called and asked 'Didn't the band play <em>No Place</em>?' I said, 'Yes, but not intentionally.'" Fortunately, ASCAP did not follow up on this performance despite the ban. The band followed up the parade with a performance at the game which, according to <em>The Daily Nebraskan</em>, "drew the plaudits way over and above the cheers for the Stanford and tournament of Roses bands."</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><%= link_to "Footage of the Band in the Rose Bowl Parade", "/multimedia/footage.html#20801" %></li>

        <li><%= link_to "Footage of the Band in the Rose Bowl Game", "/multimedia/footage.html#20802" %></li>

        <li><%= link_to "1974 interview with Lentz with memories of the Rose Bowl trip and ASCAP strike", "/stories/lentz-interview.html#roseBowl" %></li>

        <li>Steffens, Gary R. "California Here We Come," <em>Pride of the Cornhuskers, 1981. Taylor Publishing Company, Dallax, TX. p 102-111.</em></li>

        <li>Evinger, Jim. <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1940-12-06/ed-1/seq-3/#words=band+Rose" target="_blank" rel="nofollow noreferrer">"Cheerleaders and Band to Rose Bowl?"</a>, <em>The Daily Nebraskan</em>, December 6, 1940.</li>

        <li>Abbott, George. <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1940-12-15/ed-1/seq-1/#words=Band+band+band%27s+bands+Rose+Roses" target="_blank" rel="nofollow">"Band to Make Rose Bowl Trek"</a>, <em>The Daily Nebraskan</em>, December 15, 1940.</li>

        <li><a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1940-12-20/ed-1/seq-1/#words=band+band%27s+Rose" target="_blank" rel="nofollow noopener">"Dean Issues Band Itinerary for Bowl Trip"</a>, <em>The Daily Nebraskan</em>, December 20, 1940.</li>

        <li>Evinger, Jim. <a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1941-01-07/ed-1/seq-3/#words=band+BAND+bands+Rose+Roses" target="_blank" rel="nofollow noreferrer">"Band Shines"</a>, <em>The Daily Nebraskan</em>, January 7, 1941.</li>

      </ul>
    </div>
  <% end %>
</div>
