<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1961</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Jack Snider Becomes Director, First Woman Twirler Joins the Band",
    id: "snider",
    image: "421202-01855.jpg",
    image_attr: nil,
    image_caption: "Director Jack Snider",
    image_link: "421202-01855" } do %>

    <p>In 1961, Don Lentz became Director of Bands and his former student, Jack Snider, stepped into the role of Marching Band Director. Snider would remain in that position until he, too, became Director of Bands in 1973. As difficult as it may have seemed to fill the shoes of the renowned Lentz, Snider became a legend of his own. Unafraid to forge his own path, in his very first season, Snider made changes to the style of music and the formations that the band was performing. A <em>Sunday World-Herald</em> article from 1961 describes the 220 bpm pace being used by the band for entering the field as "...radical evidence that the musical 'Pride of the Cornhuskers' has a new director with new ideas." New ideas, the article concludes, which resulted in "more oomp-pa-pa." Snider told <em>The Daily Nebraskan</em> that he planned to "...try new formations different for every game."</p>

    <p>One of Snider's immediate changes in 1961 was to add a twirler to the band, Joyce Burns, the first female twirler who quickly became known as "The Sunshine Girl." Additionally, in 1962, Snider co-founded the Nebraska State Bandmaster's Association, a group which endures today more than half a century later.</p>

    <p>Snider's time as Marching Band Director included some transformations which he did not instigate. Snider resisted the inclusion of women in the marching band, whose integration in 1972 was one of the largest changes in the marching band's history. Another shock to the marching band community in Nebraska during his tenure was the decline of Band Day under pressure from the Athletic Department, despite the best efforts of Snider and Lentz to preserve the tradition. "These two men have worked long and hard serving the best interests of Nebraskans. They now face a most bitter reward for their services," wrote George Meredith of the Nebraska State Bandmaster's Association in 1966 about restrictions to Band Day.</p>

    <p>Snider's mark upon the band program, however, was perhaps not so much what decisions he made or trials he weathered, but the impact he made upon his students. Snider is remembered as a director who cared deeply about his students, and who spent considerable time and effort to support them. Multiple staff and faculty members remarked in a <em>Lincoln Journal Star</em> published in 2015 after Snider's death that Snider was ever-present, even after retirement, at student recitals and concerts on UNL's campus.</p>


    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://nsbaarchives.com/jack-snider">"Jack R. Snider Young Band Director Award,"</a> <em>Nebraska State Bandmaster's Association</em>, accessed August 2019.</li>

        <li><a href="https://nebnewspapers.unl.edu/lccn/sn96080312/1939-10-15/ed-1/seq-8/#words=band+twirler+twirlers" target="_blank" rel="nofollow noopener">"Feathers Fly, Legs Flash, Signals Are Barked as Baton Boys Strut Their Stuff in Stadium"</a>, <em>The Daily Nebraskan</em>, October 15, 1939.</li>

        <li>Sack, Janet. <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1961-09-20/ed-1/seq-1/">"Marching Band Gains New Look; Tall 'Bertha' Leads With Big Beat,"</a> <em>The Daily Nebraskan</em>, September 20, 1961.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1961-09-25/ed-1/seq-4/">"Big Bertha Surprise Highlights Half-Time,"</a> <em>The Daily Nebraskan</em>, September 25, 1961.</li>

        <li>Denney, James. "'Big Bertha' Returns With a 'Golden Girl," <em>Sunday World-Herald</em>, November 12, 1961. University of Nebraska Archives and Special Collections, RG130833 Box 1 Folder 38.</li>

        <li>Meredith, George. "George Meredith to Jack Snider on Behalf of NSBA," letter. Postmarked May 13, 1966. University of Nebraska Archives and Special Collections, RG 130833 Box 1 Folder 4.</li>

        <li>Shoro, Michael. <a target="_blank" rel="nofollow noopener" href="https://journalstar.com/news/local/iconic-unl-band-director-jack-snider-dies/article_3b6d728c-ccd4-5938-8f44-762107698bf1.html">"Iconic UNL Band Director Jack Snider Dies,"</a> <em>Lincoln Journal Star</em>. February 21, 2015.</li>
      </ul>
    </div>
  <% end %>
</div>
