<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1975</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Creation of Flag Corps, First Woman Drum Major",
    id: "flags",
    image: "band.img.0011.jpg",
    image_caption: "Diane Miller Frost, drum major",
    image_attr: "Photo Credit: Kevin Higley, used with permission of the UNL Bands",
    image_link: "band.img.0011" } do %>

    <p>In the fall of 1975, the band was under the charge of Dr. Robert Fought, who had big plans for the ensemble. He added 39 personnel to the band's membership, half of whom were members of a brand new flag corps. Dubbed "the ladies in red," the new group carried red and white banners which band staff member Rose Johnson recalls were attached to 8 foot poles. Prior to the flag corps, the band had partnered for performances with The Huskerettes, a dance team who incorporated flags into their routines.</p>

    <p>This expansion of the band was not altogether a smooth one; there was not room for them in the stadium. A <em>Daily Nebraskan</em> article in September explained that the Athletic Department provided 12 rows of seats for the band. Athletic Director Bob Devaney was quoted as saying "Right now the band needs seats and money...we don't have either." Fortunately, the Athletic Department ultimately gave permission for bleachers to be set up for the band's additional 40 members.</p>

    <p>1975 was also the first year that the band had a female drum major, Diane Miller Frost, who served as drum major in 1975 and 1976.</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li>Bohling, Martha. <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1975-03-17/ed-1/seq-9/">"New Marching Band Director Plans Flag Corps"</a>, <em>The Daily Nebraskan</em>, March 17, 1975.</li>

        <li>Beck, Chuck. <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1975-09-12/ed-1/seq-14/">"Band Given Additional Seats,"</a> <em>The Daily Nebraskan</em>, September 12, 1975.</li>

        <li>Hughes, Lorraine. <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1975-09-13/ed-1/seq-3/">"Marching Band Increased Adequate Seating a Problem,"</a> <em>The Daily Nebraskan</em>, September 13, 1975.</li>

        <li>Reitz, Susan. <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1975-10-25/ed-1/seq-3/">"'The Ladies' Chill for Halftime,"</a> <em>The Daily Nebraskan</em>, October 25, 1975.</li>

        <li>Whitford, Nancy. <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1961-10-24/ed-1/seq-1/">"Go Wave Your Flag, Provided It's Not Red,"</a> <em>The Daily Nebraskan</em>, October 24, 1961.</li>

        <li><%= link_to "Read Rose Johnson's memories of her sister's time in the flag corps", "stories/johnson-interview.html#family" %></li>

        <li>Steffens, Gary R. "The Drum Majors," <em>Pride of the Cornhuskers, 1981. Taylor Publishing Company, Dallax, TX. p 212.</em></li>

      </ul>
    </div>
  <% end %>
</div>
