<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1979</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Band Celebrates Its Centennial",
    id: "centennial",
    image: "130815-00057.jpg",
    image_attr: nil,
    image_caption: "The band forms a star and '100' on the field",
    image_link: "130815-00057" } do %>
    <p>To mark 100 years since its formation, the band program held a series of concerts for Symphonic Wind Ensemble, Concert Band, and the Cornhusker Marching Band. The Symphonic Band also toured eastern Nebraska, holding three concerts a day to celebrate.</p>

    <div class="resources">
      Sources
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1979-11-29/ed-1/seq-2/">"Final Concert Dates Announced by Band"</a>, <em>The Daily Nebraskan</em>, November 29, 1979 p 2</li>
        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1980-02-20/ed-1/seq-2/">"Band Makes Tour"</a>, <em>The Daily Nebraskan</em>, February 20, 1980, p 2</li>
      </ul>
    </div>
  <% end %>
</div>
