<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1974</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Trip to Europe",
    id: "europe",
    image: "570903-00013.jpg",
    image_attr: nil,
    image_caption: "Uncaptioned slide from 1974 trip to Europe",
    image_link: "570903-00013" } do %>

    <p>1974 brought with it the most impressive trip the band had ever yet attempted: 9 concerts across half a dozen European countries. After massive fundraising efforts by the band and alumni, the band set out to perform in Switzerland, Germany, the Netherlands, Belgium, and visited Austria and England as well. They had planned on performing in London but a fire at the concert venue canceled the event. Along the way, the band faced challenges such as parades in narrow streets, lack of venues for marching exhibitions, and even one run-in with the Swiss military. However, the multi-week trip provided many memories for both band members and their audiences. Twirler Diane Tangeman remarked later that the Europeans who saw the band perform were "astonished at the size of the band and its sound."</p>

    <div class="resources">
      Sources and Further Reading

      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1974-02-15/ed-1/seq-8/">"'Insight' Goal of Band Trip,"</a> <em>The Daily Nebraskan</em>, February 15, 1974.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1974-08-28/ed-1/seq-11/">"UNL Band's Adventures Captured on Slides,"</a> <em>The Daily Nebraskan</em>, August 28, 1974.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1974-12-05/ed-1/seq-8/">"Baton Gives Diane a Twirl,"</a> <em>The Daily Nebraskan</em>, December 5, 1974.</li>

        <li>Band Alumni Association. <em>The Belle Lyre</em>, Volume II #1, February 20, 1975. Accessed University of Nebraska Archives and Special Collections, RG130833 Box 1 Folder 28.</li>

        <li><%= link_to "Rose Johnson recalls her brother's trip in 1974", "stories/johnson-interview.html#international" %></li>
      </ul>

    </div>
  <% end %>
</div>
