<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1972</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Women Join the Band",
    id: "women",
    image: nil,
    image_attr: nil,
    image_caption: nil,
    image_link: nil } do %>

    <p>Besides during WWII women had not been welcome in the marching band, with the exception of a handful of twirlers, despite the involvement of "co-eds" in concert bands. By the 1970s, women were pressuring the band program to allow them to join, threatening to lodge a discrimination complaint with the Faculty Senate Women's Rights Committee. Director Snider resisted, claiming a variety of reasons why the ensemble should remain all-male, including uniform sizing, physical demands, and increased expenses. Toni Hillard, a member of the NU Women's Action Group, rejected those excuses in a <em>Daily Nebraskan</em> article: "Was he [Snider] watching at Band Day as both women and men from all over the state marched together?" By 1971, the band agreed to open its ranks to women, but it was not until 1972 that five women were successful in the audition process.</p>

    <p>The first years were likely not easy for the handful of women in the majority male band. Pages of Jack Snider's scrapbooks from that time are filled with articles written about the women from their hometown newspapers. In a clipping, one of the first five women, Lilly Coniglio, remarked to a reporter from that such attention "...put us in the spotlight and resulted in a lot of extra pressure." Gary Steffens, author of <em>Pride of the Cornhuskers</em>, admits that within the band's environment the women faced challenges from their peers as well. "I think we picked on the girls worst of all," Steffens wrote of a "semi-underground" publication produced by band members. "While they were good musicians and marchers...we were very upset about it."</p>

    <div class="resources">
      Sources and Further Reading
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1970-11-09/ed-1/seq-1/">"Women Band Against Band"</a>, <em>The Daily Nebraskan</em>, November 9, 1970.</li>

        <li><a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1971-05-12/ed-1/seq-1/">"Women's Rights Committee Finds 'Sexual Caste System'"</a>, <em>The Daily Nebraskan</em>, May 12, 1971.</li>

        <li>Fairley, Debbie. <a target="_blank" rel="nofollow noopener" href="https://nebnewspapers.unl.edu/lccn/sn96080312/1972-09-07/ed-1/seq-2/">"All-male Band at UNL -- A Thing of the Past"</a>, <em>The Daily Nebraskan</em>, September 7, 1972.</li>

        <li>Kroeker, Diane. "'Marching Girls' Don't Like Publicity," <em>The Sun</em>, September 13, 1972. Accessed in Jack Snider Band Papers Collection, University of Nebraska Archives & Special Collections, RG130833.</li>

        <li>Steffens, Gary R. "Our Band," <em>Pride of the Cornhuskers, 1981. Taylor Publishing Company, Dallax, TX. p 171.</em></li>

        <li>Jack Snider Band Papers Collection, University of Nebraska Archives & Special Collections, RG130833.</li>
      </ul>
    </div>
  <% end %>
</div>
