<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1996</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: "left",
    title: "Band Awarded Sudler Trophy",
    id: "sudler",
    image: "band.img.0010.jpg",
    image_attr: "Photo Credit: David Puckett, used with permission of the UNL Bands",
    image_caption: "The Sudler Trophy in Memorial Stadium",
    image_link: "band.img.0010" } do %>
    <p>In 1996, the University of Nebraska was awarded the Sudler Trophy, an honor bestowed through the John Philip Sousa Foundation. This award is for a band which has the "highest of musical standards and innovative marching routines and ideas, and which has made important contributions to the advancement of the performance standards of college marching bands over a number of years." The Sudler Trophy resides in the Glenn Korff School of Music.</p>
    <div class="resources">
      Source
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="http://www.sousafoundation.net/Default.aspx?ID=39">The John Philip Sousa Foundation</a></li>
      </ul>
    </div>
  <% end %>

  <%= render layout: "general/timeline/element", locals: {
    direction: "right",
    title: "St. Patrick's Day Parade in Ireland",
    id: "ireland",
    image: "band.img.0018.jpg",
    image_attr: "Unknown photographer, used with permission of the UNL Bands",
    image_caption: "1996 St. Patrick's Day Parade",
    image_link: "band.img.0018" } do %>
    <p>In 1996 and then again in 2000, the band took part in the St. Patrick's Day Parade in Dublin, Ireland. In 1996, the band had stylish new warmup suits to set them apart. "All Ireland will know where we are from," administrative assistant Rose Johnson told the <em>Omaha World Herald</em>.</p>
    <div class="resources">
      Further Reading
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://twitter.com/unlbands/status/710509422338908160">UNL Bands recalls the two parades in a 2016 tweet</a></li>

        <li>Allan, Tom. "NU Band to Play Emerald Isle," <em>The Omaha World Herald</em>, February 28, 1996.</li>
        <!-- TODO could link to the Rose Johnson photo? -->
      </ul>
    </div>
  <% end %>
</div>
