<div class="timeline-article">
  <div class="meta-date">
    <span class="date">1993</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Kennedy Center Tribute to Johnny Carson",
    id: "kennedy",
    image: "421201-00021.jpg",
    image_attr: nil,
    image_caption: "Johnny Carson and Durwood Varner at the 1971 Homecoming Football Game",
    image_link: "421201-00021" } do %>

    <p>
      The Cornhusker Marching Band traveled to Washington, D.C. to take part in the Kennedy Center Honors event celebrating Johnny Carson, longtime host of <em>The Tonight Show</em>. Johnny Carson graduated from the University of Nebraska in 1949. After Carson's death in 2005, the marching band performed a 2007 halftime show in his honor.
    </p>

    <div class="resources">
      Source
      <ul>
        <li><a target="_blank" rel="nofollow noopener" href="https://arts.unl.edu/carson-center/about-johnny-carson">"About Johnny Carson,"</a> <em>Johnny Carson Center for Emerging Media Arts</em></li>

        <li>De Witt, Karen. <a target="_blank" rel="nofollow noopener" href="https://www.nytimes.com/1993/12/06/arts/2-worlds-meet-at-kennedy-center.html">"2 Worlds Meet at Kennedy Center,"</a> <em>New York Times</em>, December 6, 1993.</li>
      </ul>
    </div>
  <% end %>
</div>
