<div class="timeline-article">
  <div class="meta-date">
    <span class="date">2008</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Band Trailer Purchased",
    id: "trailer",
    image: "mb004.jpg",
    image_attr: "Photo Credit: Rose Johnson, used with permission of the UNL Bands",
    image_caption: "The band trailer with its first design",
    image_link: "mb004" } do %>
    <p>
      After years of away trips accompanied by multiple trucks to transport all of the band's equipment and instruments, the band purchased a trailer capable of carrying everything, including all of the uniforms. With a beautiful exterior, the trailer also serves as an advertisement. Doug Bush, Assistant Director of Bands, remarked "It really serves a dual purpose, we haul our equipment inside, but the outside is a 'billboard' for the UNL Band Program." In 2016, the trailer was updated with a new exterior.
    </p>

    <div class="resources">
      Sources
      <ul>
        <li>Simpson, Jessica. <a target="_blank" rel="nofollow noopener" href="https://issuu.com/unlfineperformingarts/docs/arts_summer2010/28">"Tomek Gives Back with Support for School of Music,"</a> <em>Arts Alumni Magazine</em>, Summer 2010. Hixson-Lied College of Fine and Performing Arts.</li>

        <li>Reetz, Brian G. <a target="_blank" rel="nofollow noopener" href="https://arts.unl.edu/hlfpa/news/its-wrap-new-cornhusker-marching-band-trailer">"It's a Wrap on a New Cornhusker Marching Band Trailer."</a> <em>Hixson-Lied College of Fine and Performing Arts</em>, August 19, 2016.</li>
      </ul>
    </div>
  <% end %>
</div>
