<div class="timeline-article">
  <div class="meta-date">
    <span class="date">2005</span>
  </div>
  <%= render layout: "general/timeline/element", locals: {
    direction: direction,
    title: "Tommy Lee Goes to College",
    id: "lee",
    image: "js001.jpg",
    image_attr: "Photo Credit: Jeremy Spale, used with permission",
    image_caption: "Tommy Lee Goes to College",
    image_link: "js001" } do %>
    <p>
      In 2005, the reality show "Tommy Lee Goes to College" featuring rock band Mötley Crüe's drummer Tommy Lee premiered. The show was filmed in 2004 in cooperation with the University of Nebraska-Lincoln. The Cornhusker Marching Band and band staff were featured in the show when Lee "auditioned" for the drumline.
    </p>

    <div class="resources">
      Further Resources
      <ul>
        <li>
          <a target="_blank" rel="nofollow noopener" href="https://www.imdb.com/title/tt0432677/">"Tommy Lee Goes to College,"</a> IMDb.
        </li>
        <li>
          Associated Press. <a target="_blank" rel="nofollow noopener" href="http://www.today.com/id/6268664/ns/today-today_entertainment/t/tommy-lee-strikes-band-nebraska/">"Tommy Lee Strikes Up the Band in Nebraska"</a>, <em>Today</em>, October 19, 2004.
        </li>
      </ul>
    </div>
  <% end %>
</div>

