<div class="filters">
  <div class="filters-topic">
    <h3>Filter Projects by Topic:</h3>
    <div class="filter-buttons">
      <%# if no facet selected, highlight all %>
      <% all_btn = params["topic"].blank? ? "btn-primary" : "btn-warning" %>
      <%= link_to :images, class: "btn btn-filter #{all_btn}" do %>
        All <span class="badge">X</span>
      <% end %>
      <% @facets.facets["topics"].each do |facet, num| %>
        <% btn_class = topic_selected?(facet) ? "btn-primary" : "btn-info" %>
        <%= link_to image_topic_path({ topic: facet }), class: "btn btn-filter #{btn_class}" do %>
          <%= facet.titleize %> <span class="badge"><%= num %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
