@import "../bootstrap-variables";

/* ****************** */
/* General Appearance */
/* ****************** */

html {
  background-color: mix($primary,$black,50%);
}

body {
  background-color: $white;
}

#header {
  margin-bottom: 1em;
  text-align:center;
  background: linear-gradient(0deg,
    rgba(mix($primary,$black,0%),0.5) 0%,
    rgba(mix($primary,$black,100%),0.5) 100%),
    image-url('header.jpg')
    no-repeat;
    background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}

img {
  max-width: 100%;
}

.h1 .navbar-brand {
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-shadow: 
    3px 3px 5px rgba(0, 0, 0, .8),
    3px 3px 10px rgba(167, 17, 7, .8),
    -1px 0px 7px rgba(0, 0, 0, 1);
  font-family: 'Cinzel', serif;
  white-space: normal;
}

/* copying in styles for bg-light cards from bs4 */

.bg-light {
  background-color: #fff !important;
}

.call_text {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Cutive', serif;
}

.card {
  background-clip: border-box;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.125);
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.card-body {
  flex: 1 1 auto;
  margin-bottom: 2rem;
  padding: 1.25rem;
}

.lead {
  font-weight: 400;
  font-size: 20px;
}

.navbar {
  background-color: transparent;
  border: 0;
  display: block;
}

.navbar-nav {
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

// Overwriting a very specific bootstrap rule
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-dark .navbar-nav .nav-item {
  &.active {
    background-color: rgba(mix($primary,$black,100%),.8);
  }
  &:hover {
    background-color: rgba(mix($primary,$black,20%),1);
  }
  .nav-link {
    background-color: transparent;
    color: #ffffff;
  }
}

.nav-item {
  background-color: rgba(mix($primary,$black,50%),.8);
  font-family: 'Cutive', serif;
  font-size: 1.2em;
  margin: .1em .4em;
  padding: .2em .4em 0 .4em;
}

.h1, h1, h2, h3, h4, h4, h5 {
  font-family: 'Cutive', serif;
  padding-top: 10px;
}

h3, h4, h4, h5 {
  margin-top: 1em;
}

.flex-item h3, .flex-item h4, .flex-item h4, .flex-item h5 {
  margin-top: .1em;
}

a {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
}

footer {
  background-color: mix($primary,$black,50%);
  margin-top: 3em;
  font-size: 1.2em;
  text-align: center;
  img {
    margin-bottom: 1em;
  }
  .bg-footer {
    background-color: transparent;
  }
  .card {
    border: none;
  }
  .text-white {
    color: $white;
  }

}

.footer {
  margin-top: 1em;
  margin-bottom: 4em;
  padding: 15px;
  display:block;
  
  a {
    color: $white;
  }
}

.logo_container > img {
  width: 200px;
}

/* ****************** */
/*        Home        */
/* ****************** */

.home_callout {
  height: 40vh;
  margin: 2em 0;
  width: 100%;
}

.home_callout_1 {
  background: image-url('street.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.callout_inner {
  background-color: rgba(0,0,0,.6);
  color: $white;
  font-size: 1.3em;
  padding: 1em;
  width: max-content;
}

.site_home .h1 .navbar-brand {
  font-size: 1.8em;
}

/* *********** */
/* About Pages */
/* *********** */

.about-nav {
  margin: 1em 0;
}

.about_staff {
  font-size: 1.3em;
}

/* ****************** */
/* Section Navigation */
/* ****************** */

$dark-overlay: rgba(0,0,0,0.7);

.section-nav-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  .section-nav {
    background-color: $secondary; // Fallback
    background-position: bottom !important;
    background-size: cover;
    border-bottom-width: 20px; // Must come after border-width
    border-style: solid;
    color: $dark-overlay; // Without this the border is white (???)
    //color: $white;
    display: flex;
    flex-basis: 1;
    flex-direction: column;
    height: 270px;
    margin: 10px;
    min-width: 45%;
    text-decoration: none;
    width: 45%;

    &:hover {
      border-color: $primary;
      & .section-nav-title, & .section-nav-subtitle {
        background-color: rgba($primary,.9);
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .section-nav-container {
    .section-nav {
      width: 100%;
      font-size: .9em;
    }
  }
}


.section-nav-title, .section-nav-subtitle {
  background-color: $dark-overlay;
  color: $white;
  display:block;
  font-size: 1.1em;
  padding: 5px;
}

.section-nav-title {
  font-family: 'Cutive', serif;
  font-size: 1.4em;
  margin-bottom: 0;
}

.section-nav-image {
  height: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

// Background photo setting: move these into 
// their own files once they are all set?

// Default images, alternating by nth child

.section-nav:nth-child(1n) .section-nav-image {
  background: image-url('nav_backgrounds/default01.jpg');
}

.section-nav:nth-child(2n) .section-nav-image {
  background: image-url('nav_backgrounds/default02.jpg');
}

.section-nav:nth-child(3n) .section-nav-image {
  background: image-url('nav_backgrounds/default04.jpg');
}

.section-nav:nth-child(4n) .section-nav-image {
  background: image-url('nav_backgrounds/default03.jpg');
}

// Sights & Sounds

.section-nav.section-nav-multimedia-footage .section-nav-image {
  background: image-url('nav_backgrounds/footage.jpg');
}
.section-nav.section-nav-multimedia-audio .section-nav-image {
  background: image-url('nav_backgrounds/audio.jpg');
}
.section-nav.section-nav-multimedia-images .section-nav-image {
  background: image-url('nav_backgrounds/images.jpg');
}

// Sights & Sounds > Audio

.section-nav.section-nav-multimedia-on-parade .section-nav-image {
  background: image-url('nav_backgrounds/onparade.jpg');
}
.section-nav.section-nav-multimedia-marches .section-nav-image {}

// Sights & Sounds > Images

/* TODO remove classes / images or use for other sections */
/*.section-nav.section-nav-multimedia-sky .section-nav-image {
  background: image-url('nav_backgrounds/aerial.jpg');
}
.section-nav.section-nav-multimedia-field .section-nav-image {
  background: image-url('nav_backgrounds/field.jpg');
}
.section-nav.section-nav-multimedia-group .section-nav-image {
  background: image-url('nav_backgrounds/group.jpg');
}
.section-nav.section-nav-multimedia-parade .section-nav-image {
  background: image-url('nav_backgrounds/parade.jpg');
}
.section-nav.section-nav-multimedia-people .section-nav-image {
  background: image-url('nav_backgrounds/people.jpg');
}*/

// Documents

.section-nav.section-nav-documents .section-nav-image {
  background: image-url('nav_backgrounds/default02.jpg');
}
.section-nav.section-nav-documents-correspondence .section-nav-image {
  background: image-url('nav_backgrounds/correspondence.jpg');
}
.section-nav.section-nav-documents-newspapers .section-nav-image {
  background: image-url('nav_backgrounds/newspapers.jpg');
}


// Stories

.section-nav.section-nav-stories-interviews .section-nav-image {
  background-color: #1d1d1d !important;
  background: image-url('nav_backgrounds/lentz.jpg');
}

.section-nav.section-nav-stories-features .section-nav-image {
  background: image-url('nav_backgrounds/marches.jpg');
}

// Stories > Features

.section-nav.section-nav-stories-march .section-nav-image {
  background: image-url('nav_backgrounds/marches.jpg');
}

// Stories > Interviews

.section-nav.section-nav-stories-lentz .section-nav-image {
  background-color: #1d1d1d !important;
  background: image-url('nav_backgrounds/lentz.jpg');
}
.section-nav.section-nav-stories-johnson .section-nav-image {
  background: image-url('nav_backgrounds/johnson.jpg');
  background-color: #251f1d !important;
  background-size: contain !important;
}
.section-nav.section-nav-stories-steffens .section-nav-image {
  background: image-url('nav_backgrounds/steffens.jpg');
}

.section-nav-container-pending {
  .section-nav {
    &:hover {
      border-color: $dark-overlay;
      & .section-nav-title, & .section-nav-subtitle {
        background-color: $dark-overlay
      }
    }
  }
}

// Header sizes for smaller screens

@media only screen and (max-width: 830px) {
  .h1 .navbar-brand {
    font-size: 1em; 
  }
  .site_home .h1 .navbar-brand {
    font-size: 1.2em; 
  }   
}

@media only screen and (max-width: 400px) {
  .h1 .navbar-brand {
    font-size: .8em; 
  }
  .site_home .h1 .navbar-brand {
    font-size: .8em; 
  } 
}

// Grid items

a.flex-item {
  text-decoration: none;
  h3 {
    color: #000;
  }
  p  {
    margin: 0 0 .5em 0;
    padding: 0;
  }
  &:hover p {
    text-decoration: underline;
  }
  img {
    border: solid 2px #000000;
    display: block; 
    margin-bottom: .5em;
  }
  &:hover img {
    border-color: $primary;
  }
}

// "On Parade"
.album_gallery {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5em;
}

.album_gallery a {
  margin-bottom: 1em;
}

.audio_tracks audio {
  width: 100%;
}

.tracks_listing {
  margin-top: .2em;
}

.interview-video video {
  background-color: $gray-300;
  display: block;
  height: 540px;
  margin: 1em auto;
  max-size: 100%;
  width: 960px;
}

/* *************** */
/* Simple Lightbox */
/* *************** */

/* have to add specific page class to get this to show up
   because slbCaption is being set by the lightbox which
   loads after these styles */
.action_audio_item .slbCaption {
  background-color: $white;
  color: $black;
  font-size: 1em;
  overflow: visible;
}


/* ********** */
/* Multimedia */
/* ********** */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5em;
}

.flex-item {
  padding: 1em;
  flex-basis: 260px;
  flex-grow: 1;
  max-width: 25%;
  border: solid 1px $gray-100;
  background: #fff;
  h3 {
    font-size: 1.2em;
  }
  ul {
    margin: .5em 0 0 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    line-height: 1.1em;
    margin-bottom: .4em;
  }
  &:hover {
    background-color: $gray-100;
  }
}

@media only screen and (max-width: 830px) {
  .flex-item {
    max-width: 100%;
  }
}

.filter-buttons {
  margin-bottom: 10px;
}

.filters-topic button, .filters-decade button {
  margin: 0 5px 8px 0
}

.filters-topic h3, .filters-decade h3 {
  font-size: 1.2em;
  margin-top: 1em;
}

.thumbnail {
  width: 100%;
  height: auto;
}

/* ******* */
/* Footage */
/* ******* */

.badge {
  background-color: $secondary;
  color: $text-color;
}

video {
  width: 100%;
  background-color: $gray-300;
}

.video-hidden {
  display: none;
}

/* ****** */
/* Images */
/* ****** */

.image {
  .gallery {
    text-decoration: none;
    img {
      border: solid 2px $gray-800;
    }
    &:hover img {
      border: $primary 2px solid;
    }
    .imagecaption {
      background: $gray-800;
      color: #fff;
      display: block;
      position: relative; 
      text-align: center;
      width: 100%;
      text-decoration: none;
    }
    &:hover .imagecaption {
      background: $primary;
    }
  }
}

.btn-moreinformation {
  background: $gray-800;
  color: #fff;
}

a.btn {
  text-decoration: none;
}

.image-navbar {
  display: flex;
}

.image-navbar .navbar-nav {
  list-style: none;
  .nav-item {
    background-color: $gray-600;
  }
  a {
    color: #fff;
  }
  .active {
    background-color: mix($primary,$black,70%);
  }
}

// new
.navbar-brand {
  line-height: 1.2em;
  float: none;
}

.site-title-container a {
  text-decoration: none;
}

#header .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%
}

#header .navbar-nav li {
  font-size: 1em;
  margin: .3em;
}

#header .navbar {
  margin-bottom: 0;
}

.footer .row {
  display: flex;
}

.filters-topic .btn {
  margin: 0 5px 8px 0;
}

// new

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search_controls {
  padding-top: .5em;
}

.pagination_container {
  margin: 0;
  text-align: right;
  .pagination {
    margin: 0;
  }
}

.filter-buttons {
  .btn {
    font-family: 'Cutive', serif;
    font-size: 1em;
    font-weight: 100;
    padding: .5em .5em .2em .5em;
    span {
      font-family: $font-family-sans-serif;
      margin-left: .2em;
    }
  }
}

// Search
// ------

.searchResults {
  border-bottom: 3px solid $gray-200;
  color: $gray-900; //overwrite link color
  display: flex;
  padding: 1em 0 0 0;
  text-decoration: none;
  &:hover {
    background-color: $gray-100;
    color: $gray-900; //overwrite link color
    text-decoration: none;
    .link_style {
      color: $link-hover-color;
    }
    .search_results_highlights {
      background-color: $white;
    }
  }
}

.search_results_image {
  flex-basis: 150px;
  margin: 0 20px 1em 0;
  text-align: right;
}

.search_results_info {
  flex: 2;
  .link_style {
    text-decoration: underline;
    color: $link-color;
    font-size: 1.2em;
    font-family: 'Cutive', serif;
  }
}

.search_item_info {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  line-height: 1.2em;
}

.search_item_metadata {
  flex: 2;
  margin: .8em .5em 1em 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.search_results_highlights {
  background-color: $gray-100;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: solid 1px $gray-300;;
  em {
    background-color: $yellow;
  }
}

.search_results_text {
  flex: 5;
  padding-top: .5em;
}

.search_results_text .search_results_highlights:not(:first-of-type) {
    border-top: 4px solid lighten($gray-200, 10%);
}

.index_spacer a {
  box-shadow: none;
}

/* NEWSPAPER SHOW PAGE */

.no-image-newspaper {
  width: 200px;
  // allows for dimming of image when hovered
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1 ease;
  transition: all 1s ease;
  &:hover {
    -webkit-filter: brightness(50%);
  }
}

.publisher {
  margin-bottom: 20px;
}

.section_newspapers.action_show h1 {
  font-size: 32px;
}
