<% @title = "Sights & Sounds" %>

<h1>Sights & Sounds</h1>

<p class="lead">Nowadays, hundreds of photos and videos are taken of the band throughout a given season. However, in the 19th and 20th centuries records of the band were less common. These pages offer a glimpse into how the band looked and sounded throughout the decades.</p>

<div class="section-nav-container">

  <%= link_to :footage, class: "section-nav section-nav-multimedia section-nav-multimedia-footage" do %>
    <div class="section-nav-title">Footage</div>
    <div class="section-nav-subtitle">Band Day, bowl trips, half time shows, and early clips of the band and football</div>
    <div class="section-nav-image"></div>
  <% end %>

  <%= link_to :audio, class: "section-nav section-nav-multimedia section-nav-multimedia-audio" do %>
    <div class="section-nav-title">Audio</div>
    <div class="section-nav-subtitle">Recordings of the band from as early as 1950</div>
    <div class="section-nav-image"></div>
  <% end %>

  <%= link_to :images, class: "section-nav section-nav-multimedia section-nav-multimedia-images" do %>
    <div class="section-nav-title">Images</div>
    <div class="section-nav-subtitle">Photographs and slides</div>
    <div class="section-nav-image"></div>
  <% end %>

  <%= link_to :documents, class: "section-nav section-nav-multimedia section-nav-multimedia-documents" do %>
    <div class="section-nav-title">Documents (Coming Soon)</div>
    <div class="section-nav-subtitle">Manuals, correspondence, drill charts, and more</div>
    <div class="section-nav-image"></div>
  <% end %>

</div>
