<% @ext_css = add_assets(@ext_css, ["simpleLightbox.min"] ) %>
<% @ext_js = add_assets(@ext_js, ["simpleLightbox.min"] ) %>

<h1><%= sanitize @res["title"] %></h1>
<%= render_overridable("items", "show_metadata") %>
<%= render_overridable("items", "show_content") %>

<script>
  new SimpleLightbox({elements: '.main_content .gallery-image'});
</script>
