@import "global/colors";

/* interviews */

h2 h3 {
  font-size: 1.4em;
}

hr {
  border-top: 5px dotted;
}

.interview-topic {
  padding: 10px 0;
}

.interview-label {
  font-weight: bold;
}

.interview-round, .interview-dussault {
  background-color: $secondary;
}

.interview-wirth-mike {
  background-color: lighten( $secondary, 10% );
}

.interview-row {
  padding: 10px 0;
}

/* marches */

audio {
  max-width: 100%;
}

.audio-container {
  font-size: 80%;
}
