@import "global/colors";

/* Timeline concept adapted from code by Ratko Solaja */
/* https://codepen.io/Ratko_Solaja/pen/ztxkw */

$graybackground: #7E7E7C;
$darkgraytitle: #3F3F3E;

/*===== Vertical Timeline =====*/
#band-timeline {
  position: relative;
  // I set a bigger max width for really wide screens
  // TODO: evaluate
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
#band-timeline .timeline-start,
#band-timeline .timeline-end {
  background: $primary;
  color: #fff;
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  margin: 0 auto;
  max-width: 100%;
  padding: 15px 23px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

#band-timeline .timeline-end {
  margin-bottom: 20px;
}
#band-timeline .band-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: $primary;
  z-index: 0;
}
#band-timeline .band-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}
.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  border: 1px solid #ddd;
  background-color: $graybackground;
  box-shadow: 0 1px 3px rgba(0,0,0,.03);
  padding: 0;
}

.timeline-article h3 {
  font-size: 1.2em;
}

.timeline-article p {
  /* TODO put back in if article-number is being used */
  /*margin: 0 0 0 60px;*/
  // padding: 0;
  // font-weight: 400;
  // color: $text-color;
  // font-size: 14px;
  // line-height: 24px;
  position: relative;
}
/* TODO consider removing article-number if not used */
.timeline-article p span.article-number {
  color: $graybackground;
  font-size: 44px;
  left: -60px;
  position: absolute;
  top: 10px;
}
.timeline-article .content-left-container {
  float: left;
}
.timeline-article .content-right-container {
  float: right;
}
/* arrows pointing at date on timeline, require font-awesome */
/*
.timeline-article .content-left:before,
.timeline-article .content-right:before{
  color: #fff;
  font-family: "FontAwesome";
  font-size: 23px; //absolute measurement for arrows
  position: absolute;
  top: 20px;
}
.timeline-article .content-left:before {
  color: $darkgraytitle;
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  color: $darkgraytitle;
  content: "\f0d9";
  left: -8px;
}
*/
.timeline-article .meta-date {
  background: $primary;
  border-radius: 100%;
  color: #fff;
  height: 62px;
  left: 50%;
  margin-left: -31px;
  position: absolute;
  top: 0;
  width: 62px;
}
.timeline-article .meta-date .date {
  display: block;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  padding-top: 10px;
  text-align: center;
}

/* Additional Timeline Styling */

.timeline-image {
  width: 60%;
  margin: auto;
  &:hover .timeline-imagecaption {
    background: $primary;
  }
  img {
    border: solid 2px $darkgraytitle;
  }
  &:hover img {
    border: $primary 2px solid;
  }
}

.timeline-imagecaption {
  background: $darkgraytitle;
  color: #fff;
  display: block;
  position: relative; 
  text-align: center;
  width: 100%;
}

.content-container {
  h3 {
    background-color: $darkgraytitle;
    color: #fff;
    padding: 18px 25px 14px 25px;
    text-align: center;
  }
  img {
    width: 100%;
  }
}

.gallery, .gallery:hover {
  width: 100%;
  text-decoration: none;
}

.timeline-collapse {
  background: $darkgraytitle;
  border: 0;
  color: #fff;
  font-size: 1.3em;
  margin-top: 1em;
  width: 100%;
  &:hover {
    background: $primary;
  }
}

.timeline-card {
  padding: 1em;
  background: #fff;
  .btn {
    float: right;
    margin: 0 0 15px 15px;
    z-index: 4;
    position: relative;
  }
}

.timeline-article h3 {
  margin-top: 0;
}


/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (max-width: 830px) {
  #band-timeline .timeline-start,
  #band-timeline .timeline-end {
    margin: 20px 0px;
  }
  #band-timeline .band-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 0;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .timeline-image {
    width: 100%;
  }
  .timeline-article p {
    margin: 0;
  }
  /* TODO consider removing article-number if not used */
  .timeline-article p span.article-number {
    display: none;
  }
}
/*===== // Resonsive Vertical Timeline =====*/

/* caption for lightbox */

.slbCaption {
  background-color: $white;
  color: $black;
  font-size: 1em;
  overflow: visible;
}
